* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(39, 38, 38);
  display: flex;
  align-items: center;
  height: 100vh;
}
main {
  width: 50%;
  height: 400px;
  margin: auto;
  display: grid;
  gap: 10px;
  grid-template-areas:
    "A A A A B B"
    "C C C D D D"
    "C C C E E E";
}
.Box-a {
  background-color: rgba(247, 57, 23, 0.767);
  grid-area: A;
}
.Box-b {
  background-color: rgba(252, 195, 7, 0.767);
  grid-area: B;
}
.Box-c {
  background-color: rgba(105, 209, 7, 0.836);
  grid-area: C;
}
.Box-d {
  background-color: rgba(13, 228, 228, 0.767);
  grid-area: D;
}
.Box-e {
  background-color: rgba(13, 228, 228, 0.767);
  grid-area: E;
}
